{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<style>
body{margin: 0}
</style>
{% endblock %}

{% block body %}
    <div id="root"></div>
    <script type="text/javascript" src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}